@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display';
  background-image: url(./images/pattern-background-mobile.svg);
  background-color: var(--pale-blue);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.container {
  padding: 4.5rem 1.5rem 0 1.5rem;
  max-width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

h2 {
  font-weight: 900;
  color: var(--dark-blue);
  padding-bottom: 1rem;
  padding-top: 0.2rem;
  font-size: 22px;
}

.order__content {
  padding: 0rem 1rem;
}

.order__content p {
  color: var(--desaturated-blue);
  line-height: 1.6;
  font-size: 15px;
  font-weight: 500;
  padding-top: 0.1rem;
}

.header {
  display: flex;
}

.header img {
  width: 100%;
  height: auto;
  border-radius: 1.25rem 1.25rem 0 0;
}

.order {
  background-color: var(--white);
  border-radius: 0 0 1.5rem 1.5rem;
  padding: 1.8rem 1.5rem;
  text-align: center;
  box-shadow: 0 5px 20px -15px var(--dark-blue);
}

.order__change {
  display: flex;
  flex-direction: row;
  background-color: var(--very-pale-blue);
  border-radius: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
  margin-top: 1.5rem;
}

.order__change p {
  color: var(--desaturated-blue);
  line-height: 1.6;
  font-size: 15px;
}

.order__change img {
  width: 3rem;
  height: 100%;
}

.order__change div {
  display: flex;
}

.order__change--content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 1rem;
  justify-content: space-around;
}

.order__change--content p {
  font-size: 14px;
  font-weight: 500;
}

.order__change h4 {
  font-weight: 900;
  font-size: 14px;
  color: var(--dark-blue);
}

.order__change a {
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
}

.order__btn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.2rem;
}

.order__btn button:first-child {
  border: none;
  color: var(--white);
  background-color: var(--bright-blue);
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0 10px 20px -10px var(--bright-blue);
}

.order__btn button:last-child {
  border: none;
  background-color: transparent;
  font-weight: 900;
  color: var(--desaturated-blue);
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    background-image: url(./images/pattern-background-desktop.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }

  .container {
    padding: 0;
  }

  .order__content h2 {
    font-size: 28px;
  }

  .order__content p {
    font-size: 16px;
  }

  .order {
    padding: 2.5rem 3rem;
    padding-bottom: 3rem;
  }

  .order__change {
    padding: 1.5rem;
    margin-top: 1.5rem;
  }

  .order__change--content {
    padding-left: 1.3rem;
  }

  .order__change--content h4 {
    font-size: 16px;
  }

  .order__change a {
    font-size: 15px;
  }

  .order__btn {
    padding-top: 1.9rem;
    gap: 2rem;
  }
}
