@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --Violet: hsl(257, 40%, 49%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    background-color: var(--Violet);
    font-family: 'Open Sans', sans-serif;
}

.container {
    color: white;
}

.logo {
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-top: 2rem;
}

.logo img {
    width: 9rem;
}

.mockups {
    padding-left: 3rem;
    padding-right: 3rem;
}

.mockups img {
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.main__content {
    text-align: center;
}

.main__content h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-bottom: 1rem;
}

.register-button {
    color: var(--Violet);
    background-color: white;
    border-radius: 3rem;
    padding: 0.8rem;
    width: 12rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
    cursor: pointer;

    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

a {
    color: white;
}

.social-media {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    text-align: center;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.fa-brands {
    border-radius: 50%;
    padding: 0.5rem;
    border: 0.1rem solid white;
    width: 1rem;
    text-align: center;
}

@media(min-width:768px) {
    body {
        background-image: url(./images/bg-desktop.svg);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        max-width: 1440px;
        margin: auto;
    }

    .logo img {
        width: 15rem;
    }

    .desktop {
        display: flex;
    }

    .main {
        width: 29rem;
    }

    .main__content {
        text-align: left;
    }

    .main__content h2 {
        width: 25rem;
        font-size: 2rem;
        margin-top: -10rem;
    }

    .main {
        display: flex;
        align-items: start;
    }

    .register-button {
        padding: 1rem;
        width: 10rem;
        text-align: center;
        font-size: 1.1rem;
        margin-top: 2rem;
    }


    .social-media {
        justify-content: end;
        padding-right: 3rem;
    }
}