@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

body {
  background-color: #f2f2f2;
}

main {
  padding: 50px 15px 50px 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
	align-items: center;
  flex-wrap: wrap;
}

img {
  padding: 40px 0 0 30px;
}

article {
  max-width: 278px;
  height: 450px;
}

/* BOX 1*/

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 7px 0 0 7px;
}

.sedans button {
  color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 7px 7px 0;
}

.suvs button {
  color: hsl(184, 100%, 22%);
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

button {
  background-color: hsl(0, 0%, 95%);
  display: inline-block;
  outline: none;
  border-radius: 24px;
  width: 146px;
  padding: 14px;
  border: 2px solid;
  margin: 40px 0 40px 30px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

h1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  padding: 0 0 0 30px;
}

p {
  padding: 0 30px 0 30px;
  font-size: 13.8px;
  line-height: 1.5rem;
  
}

@media only screen and (max-width: 600px) {
  main {
    flex-direction: row;
    overflow: scroll;
    flex-wrap: wrap;
  }
  article {
    flex-direction: column;
  }
  .sedans{
    border-radius: 7px 7px 0 0;
  }
  .luxury {
    border-radius: 0 0 7px 7px;
  }
}

/* NO DELETE */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
