@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

main {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

img {
  padding: 40px 0 0 30px;
  margin-bottom: 20px;
}

article {
  max-width: 285px;
  height: 450px;
  padding: 1rem;
}

/* BOX 1*/

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 7px 0 0 7px;
}

.sedans button {
  color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 7px 7px 0;
}

.suvs button {
  color: hsl(184, 100%, 22%);
}

.luxury button {
  color: hsl(179, 100%, 13%);
}

button {
  background-color: hsl(0, 0%, 95%);
  display: inline-block;
  outline: none;
  border-radius: 24px;
  width: 146px;
  padding: 14px;
  border: 2px solid;
  margin: 70px 0 40px 30px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
}

h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  padding: 0 0 0 30px;
  margin-bottom: 1rem;
}

p {
  padding: 0 30px 0 30px;
  font-size: 13.8px;
  line-height: 1.5rem;
}

@media only screen and (max-width: 600px) {
  main {
    flex-direction: row;
    overflow: scroll;
    padding: 50px 15px 50px 15px;
    flex-wrap: wrap;
  }
  article {
    flex-direction: column;
    padding: 0.5rem;
  }
  .sedans {
    border-radius: 7px 7px 0 0;
  }
  .luxury {
    border-radius: 0 0 7px 7px;
  }

  button {
    margin: 30px 0 40px 30px;
  }
}
