@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: hsl(20, 50%, 98%);
}

.desserts {
  padding: 1.3rem 1.5rem 2rem 1.5rem;
}
.desserts h1 {
  font-size: 40px;
  color: hsl(14, 65%, 9%);
}
.desserts__container {
  display: grid;
  padding-top: 1.9rem;
  gap: 1.55rem;
}
@media (min-width: 768px) {
  .desserts__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
.desserts__container__card img {
  border-radius: 0.5rem;
  max-width: 100%;
}
.desserts__container__card__buttons {
  display: flex;
  justify-content: center;
  transform: translateY(-1.7rem);
}
.desserts__container__card__buttons--add {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(7, 20%, 60%);
  border-radius: 1.5rem;
  padding: 0.7rem 0;
  width: 10rem;
  font-weight: 600;
  font-size: 14px;
  justify-content: center;
  color: hsl(14, 65%, 9%);
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  display: flex;
}
.desserts__container__card__buttons--add::before {
  content: "";
  background-image: url("./assets/images/icon-add-to-cart.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}
.desserts__container__card__buttons--add:hover {
  color: hsl(14, 86%, 42%);
  border-color: hsl(12, 20%, 44%);
}
.desserts__container__card__buttons__quantity {
  display: none;
  background-color: hsl(14, 86%, 42%);
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  width: 10rem;
  padding: 0.735rem 0;
  color: hsl(0, 0%, 100%);
}
.desserts__container__card__buttons__quantity--count {
  font-weight: 600;
}
.desserts__container__card__buttons__quantity button {
  background: inherit;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.9rem;
}
.desserts__container__card__buttons__quantity button svg {
  fill: hsl(0, 0%, 100%);
}
.desserts__container__card__buttons__quantity button:hover {
  background-color: hsl(0, 0%, 100%);
}
.desserts__container__card__buttons__quantity button:hover svg {
  fill: hsl(14, 86%, 42%);
}
.desserts__container__card h2 {
  font-size: 16px;
  color: hsl(14, 65%, 9%);
  font-weight: 600;
  padding-top: 0.35rem;
}
.desserts__container__card h3 {
  font-size: 14px;
  color: hsl(12, 20%, 44%);
  font-weight: 400;
  margin-top: -0.8rem;
}
.desserts__container__card p {
  font-size: 16px;
  color: hsl(14, 86%, 42%);
  font-weight: 600;
  padding-top: 0.25rem;
}

.cart {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  margin: 0 1.5rem;
  padding: 1.6rem 1.5rem;
}
.cart h1 {
  font-size: 24px;
  color: hsl(14, 86%, 42%);
}
.cart__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart__content p {
  font-size: 16px;
  color: hsl(12, 20%, 44%);
}
.cart__select__item {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  align-items: center;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid hsl(13, 31%, 94%);
}
.cart__select__item button {
  background: none;
  border: 1px solid hsl(14, 25%, 72%);
  border-radius: 50%;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}
.cart__select__item div {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.cart__select__item div h3 {
  font-size: 13px;
}
.cart__select__item div div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.cart__select__item div div h4 {
  color: hsl(14, 86%, 42%);
  font-size: 13px;
}
.cart__select__item div div p {
  color: hsl(12, 20%, 44%);
  font-size: 15px;
}
.cart__select__item div div p strong {
  font-weight: 700;
}
.cart__select__total {
  display: flex;
  justify-content: space-between;
  padding-top: 1.85rem;
  align-items: center;
}
.cart__select__total h1 {
  color: hsl(14, 65%, 9%);
}
.cart__select__total p {
  color: hsl(12, 20%, 44%);
  font-size: 14px;
}
.cart__select__total p strong {
  font-weight: 700;
}
.cart__select__info {
  display: flex;
  background-color: hsl(13, 31%, 94%);
  padding: 1rem 0 1.5rem 1.4rem;
  align-items: center;
  margin-top: 1.3rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}
.cart__select__info p {
  font-size: 13.5px;
  color: hsl(14, 65%, 9%);
}
.cart__select--button {
  background-color: hsl(14, 86%, 42%);
  border: none;
  border-radius: 1.8rem;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 1.1rem 0;
  margin-top: 1.2rem;
}
.cart__select--button:hover {
  background-color: hsl(14, 65%, 9%);
}

.order {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem 0.5rem 0 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 2.45rem 1.5rem;
  margin: 6rem 0;
  width: 100%;
  color: hsl(14, 65%, 9%);
  gap: 9rem;
  height: 100vh;
}
.order h1 {
  font-size: 40px;
  color: hsl(14, 65%, 9%);
  padding-top: 1.2rem;
  line-height: 1.2;
  padding-bottom: 0.5rem;
}
.order p {
  color: hsl(12, 20%, 44%);
}
.order__container {
  margin-top: 2rem;
  background-color: hsl(20, 50%, 98%);
  display: flex;
  flex-direction: column;
}
.order__container__item {
  padding: 1.5rem 1.3rem 1rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(13, 31%, 94%);
}
.order__container__item img {
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
}
.order__container__item div {
  display: flex;
  gap: 1rem;
}
.order__container__item div h3 {
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px;
}
.order__container__item div div {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.order__container__item div div h4 {
  color: hsl(14, 86%, 42%);
  font-size: 13px;
}
.order__container__item div div p {
  color: hsl(12, 20%, 44%);
  font-size: 13px;
}
.order__container__item div div div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.order__container__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9rem 1.5rem 1.5rem 1.5rem;
  margin-top: 0.2rem;
}
.order__container__total h1 {
  color: hsl(14, 65%, 9%);
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.order__container__total p {
  color: hsl(14, 65%, 9%);
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.order__container__total p strong {
  font-weight: 700;
}
.order__button button {
  background-color: hsl(14, 86%, 42%);
  border: none;
  border-radius: 1.8rem;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 1.1rem 0;
  margin-top: 2.05rem;
}

/*# sourceMappingURL=style.css.map */
