@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap");

$color-red: hsl(14, 86%, 42%);
$color-green: hsl(159, 69%, 38%);
$color-white: hsl(0, 0%, 100%);
$color-rose-50: hsl(20, 50%, 98%);
$color-rose-100: hsl(13, 31%, 94%);
$color-rose-300: hsl(14, 25%, 72%);
$color-rose-400: hsl(7, 20%, 60%);
$color-rose-500: hsl(12, 20%, 44%);
$color-rose-900: hsl(14, 65%, 9%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: $color-rose-50;
}

.desserts {
  padding: 1.3rem 1.5rem;

  h1 {
    font-size: 40px;
    color: $color-rose-900;
  }
  &__container {
    display: grid;
    padding-top: 1.9rem;
    gap: 1.55rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    &__card {
      img {
        border-radius: 0.5rem;
        max-width: 100%;
      }

      &__buttons {
        display: flex;
        justify-content: center;
        transform: translateY(-1.7rem);

        &--add {
          background-color: $color-white;
          border: 1px solid $color-rose-400;
          border-radius: 1.5rem;
          padding: 0.7rem 0;
          width: 10rem;
          font-weight: 600;
          font-size: 14px;
          justify-content: center;
          color: $color-rose-900;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;
          display: flex;

          &::before {
            content: "";
            background-image: url("./assets/images/icon-add-to-cart.svg");
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            width: 1.25rem;
            height: 1.25rem;
          }

          &:hover {
            color: $color-red;
            border-color: $color-rose-500;
          }
        }

        &__quantity {
          display: none;
          background-color: $color-red;
          justify-content: space-between;
          align-items: center;
          border-radius: 1.5rem;
          width: 10rem;
          padding: 0.735rem 0;
          color: $color-white;

          &--count {
            font-weight: 600;
          }

          button {
            background: inherit;
            border: 1px solid $color-white;
            border-radius: 50%;
            cursor: pointer;
            width: 1rem;
            height: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0.9rem;

            svg {
              fill: $color-white;
            }

            &:hover {
              background-color: $color-white;

              svg {
                fill: $color-red;
              }
            }
          }
        }
      }

      h2 {
        font-size: 16px;
        color: $color-rose-900;
        font-weight: 600;
        padding-top: 0.35rem;
      }

      h3 {
        font-size: 14px;
        color: $color-rose-500;
        font-weight: 400;
        margin-top: -0.8rem;
      }

      p {
        font-size: 16px;
        color: $color-red;
        font-weight: 600;
        padding-top: 0.25rem;
      }
    }
  }
}

.cart {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 32px;
      color: $color-red;
    }

    p {
      font-size: 16px;
      color: $color-rose-500;
    }
  }
}
