@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

$pale-violet: hsl(276, 100%, 81%);
$moderate-violet: hsl(276, 55%, 52%);
$desaturated-dark-violet: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-desaturated-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 20%, 96%);
$very-light-magenta: hsl(289, 100%, 72%);
$light-violet-new: hsl(276, 23%, 91%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: $light-grayish-violet;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 4rem;
}

.phone {
  border: 0.7rem solid $white;
  border-radius: 2rem;
  width: 15.5rem;
  height: 31.5rem;
  background-color: $light-grayish-violet;
  box-shadow: 0.2rem 1rem 0.5rem rgba(0, 0, 0, 0.1);

  &__head {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, $light-violet, $light-magenta);
    border-radius: 1rem 1rem 0 0;
    margin-top: -1px;
    padding-bottom: 0.7rem;
    align-items: center;

    &__camera {
      padding: 0.6rem 0;
      background-color: $white;
      width: 8rem;
      border-radius: 0 0 1rem 1rem;
    }

    &__profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.8rem;
      padding: 0 1rem 0 0.7rem;
      width: 100%;

      &__left {
        display: flex;
        color: $white;
        align-items: center;
        gap: 0.2rem;

        svg {
          width: 0.8rem;
          height: 0.8rem;
          fill: $white;
        }

        img {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border: 1px solid $white;
        }

        div {
          padding-left: 0.2rem;
          h5 {
            font-size: 11px;
            opacity: 0.8;
            font-weight: 500;
          }

          p {
            font-size: 8px;
            opacity: 0.5;
          }
        }
      }

      &__right {
        line-height: 0.2;
        margin-left: 3em;
        color: $white;

        &::after,
        &::before {
          content: ".";
          display: block;
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-size: 8px;
    padding: 0.7rem 0.5rem 0.5rem 0.4rem;

    &__chat {
      background-color: $light-violet-new;
      padding: 0.4rem 0.6rem 0.5rem 0.5rem;
      color: $moderate-violet;
      border-radius: 0.5rem;
      width: 129px;
      line-height: 1.2;

      &__right {
        display: flex;
        flex-direction: column;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;

        &__image {
          display: flex;
          justify-content: flex-end;
          gap: 0.5rem;

          img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.5rem;
            border: 1px solid $white;
          }
        }

        &__text {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: flex-end;
          margin-top: 0.5rem;
          color: $desaturated-dark-violet;

          div {
            display: flex;
            justify-content: flex-end;
            background-color: $white;
            padding: 0.5rem 0.4rem 0.5rem 0.5rem;
            max-width: 125px;
            border-radius: 0.5rem;
            line-height: 1.2;
          }
        }
      }
    }

    &__price {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;

      &__order {
        background: linear-gradient(to right, $light-magenta, $light-violet);
        color: $white;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
        border-radius: 0.5rem;
        width: 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          font-size: 12px;
          font-weight: 800;
        }

        &--border {
          border: 1px solid $white;
          padding: 0.3rem;
          border-radius: 50%;
        }

        div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }

    &__input {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      background-color: $white;
      justify-content: space-between;
      border-radius: 0.8rem;
      margin-top: 0.5rem;
      padding: 0.3rem 0.2rem 0.3rem 1rem;

      input {
        border: none;
        border-radius: 0.5rem;
        font-size: 10px;
        color: $grayish-blue;
        opacity: 0.5;
      }

      button {
        background-color: $very-dark-desaturated-violet;
        color: $white;
        border: none;
        border-radius: 50%;
        font-size: 8px;
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;

        svg {
          width: 0.8rem;
          height: 0.8rem;
          fill: $white;
        }
      }
    }
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
  gap: 1rem;
  padding-bottom: 4rem;

  h1 {
    font-weight: 500;
    font-size: 40px;
    color: $very-dark-desaturated-violet;
  }

  p {
    font-size: 16px;
    color: $dark-grayish-violet;
    padding: 0 2rem;
    margin-top: 0.5rem;
    line-height: 1.75;
  }
}
