@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
}

.container {
  margin-top: 2rem;
  font-size: 18px;
  display: grid;
  gap: 2rem;
  max-width: 1120px;
}
@media (min-width: 768px) {
  .container {
    grid-auto-columns: 1fr;
    grid-template-areas: "create title title optimize" "create multiple schedule optimize" "ai multiple schedule optimize" "ai growth follow follow";
  }
}

.card {
  border-radius: 0.6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 345px;
}
@media (min-width: 768px) {
  .card {
    max-width: none;
    overflow: hidden;
  }
}
.card h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}
@media (min-width: 768px) {
  .card h2 {
    font-size: 30px;
  }
}
.card__title {
  background-color: hsl(256, 67%, 59%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 2.5rem 2rem;
}
@media (min-width: 768px) {
  .card__title {
    grid-area: title;
    padding: 4rem 2rem;
  }
}
.card__title h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 1;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .card__title h1 {
    font-size: 56px;
  }
}
.card__title span {
  color: hsl(39, 100%, 71%);
}
.card__title img {
  width: 12rem;
}
.card__multiple {
  padding: 1rem 1rem;
}
@media (min-width: 768px) {
  .card__multiple {
    grid-area: multiple;
    overflow: hidden;
    padding: 0.5rem 1.5rem 0 1.5rem;
  }
}
.card__multiple img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .card__multiple img {
    width: 300px;
    transform: translateY(1rem);
  }
}
.card__multiple h2 {
  margin-top: 0.6rem;
}
@media (min-width: 768px) {
  .card__multiple h2 {
    margin-top: 2rem;
    line-height: 0.9;
  }
}
.card__schedule {
  padding: 1rem 1rem 0 1rem;
  background-color: hsl(39, 100%, 71%);
  overflow: hidden;
}
@media (min-width: 768px) {
  .card__schedule {
    grid-area: schedule;
    padding: 1.5rem 1.5rem 0 1.5rem;
    max-height: 15rem;
  }
}
.card__schedule img {
  width: 13rem;
  transform: translateY(1rem);
  margin-bottom: -0.7rem;
}
@media (min-width: 768px) {
  .card__schedule img {
    width: 100%;
    transform: translateY(1rem);
  }
}
@media (min-width: 768px) {
  .card__schedule h2 {
    line-height: 0.9;
  }
}
.card__optimize {
  padding: 2rem 1.2rem 2rem 1.2rem;
  background-color: hsl(254, 88%, 90%);
}
@media (min-width: 768px) {
  .card__optimize {
    grid-area: optimize;
    padding: 3rem 2rem 0 2rem;
    overflow: hidden;
  }
}
@media (min-width: 768px) {
  .card__optimize h2 {
    text-align: unset;
  }
}
.card__optimize img {
  width: 100%;
  margin-top: 1.3rem;
}
@media (min-width: 768px) {
  .card__optimize img {
    margin-top: 0.5rem;
    transform: translateY(1rem);
    width: 350px;
  }
}
.card__optimize p {
  margin-top: 1rem;
  text-align: center;
  padding: 0 1rem;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .card__optimize p {
    text-align: unset;
    margin-top: 2.5rem;
    padding: 0;
    line-height: 1.1;
  }
}
.card__follow {
  padding: 1.4rem 3.7rem;
  background-color: hsl(256, 67%, 59%);
}
@media (min-width: 768px) {
  .card__follow {
    grid-area: follow;
    display: flex;
    padding: 2rem 1.5rem;
  }
}
.card__follow h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  margin-top: 2.2rem;
  color: hsl(0, 0%, 100%);
}
@media (min-width: 768px) {
  .card__follow h2 {
    text-align: unset;
    font-size: 38px;
  }
}
.card__follow img {
  width: 100%;
}
@media (min-width: 768px) {
  .card__follow img {
    width: 14rem;
  }
}
.card__growth {
  padding: 0.9rem 1.5rem;
  width: 100%;
}
@media (min-width: 768px) {
  .card__growth {
    grid-area: growth;
  }
}
.card__growth h1 {
  font-weight: 500;
  font-size: 46px;
  margin-bottom: 0.4rem;
  letter-spacing: -2px;
}
.card__growth img {
  width: 11rem;
  margin-top: 1.5rem;
}
.card__create {
  padding: 2rem 2rem;
  background-color: hsl(31, 66%, 93%);
}
@media (min-width: 768px) {
  .card__create {
    grid-area: create;
    padding: 5rem 2rem 0 2rem;
  }
}
.card__create h1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .card__create h1 {
    font-size: 33px;
    line-height: 1.1;
  }
}
.card__create h1 em {
  color: hsl(256, 67%, 59%);
}
.card__create img {
  width: 12rem;
}
.card__ai {
  padding: 1.5rem 1.5rem;
  background-color: hsl(39, 100%, 71%);
}
@media (min-width: 768px) {
  .card__ai {
    grid-area: ai;
  }
}
.card__ai h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  margin-bottom: 1.2rem;
}
@media (min-width: 768px) {
  .card__ai h2 {
    font-size: 33px;
  }
}
.card__ai img {
  width: 14rem;
}

/*# sourceMappingURL=style.css.map */
