@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(36, 100%, 99%);
  color: hsl(240, 100%, 5%);
  max-width: 1142px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 1rem 0.75rem;
}
@media (min-width: 768px) {
  .header {
    padding: 5.5rem 1rem 0.75rem;
  }
}
.header__logo img {
  width: 44px;
}
@media (min-width: 768px) {
  .header__logo img {
    width: 65px;
  }
}
.header__menu__mobile img {
  width: 100%;
}
@media (min-width: 768px) {
  .header__menu__mobile {
    display: none;
  }
}
.header__menu__desktop {
  display: flex;
  gap: 2.55rem;
}
@media (max-width: 767px) {
  .header__menu__desktop {
    display: none;
  }
}
.header__menu__desktop a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  font-size: 15px;
}
.header__menu__desktop a:hover {
  color: hsl(35, 77%, 62%);
}

@media (min-width: 768px) {
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
  }
}

.main-article {
  padding: 1rem;
}
@media (min-width: 768px) {
  .main-article {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
.main-article__image {
  background-image: url("./assets/images/image-web-3-mobile.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}
@media (min-width: 768px) {
  .main-article__image {
    background-image: url("./assets/images/image-web-3-desktop.jpg");
    grid-column: span 2;
  }
}
.main-article h1 {
  margin-top: 1.6rem;
  font-size: 40.5px;
  line-height: 1;
}
@media (min-width: 768px) {
  .main-article h1 {
    font-size: 56px;
    font-weight: 800;
    margin-top: 0rem;
  }
}
.main-article p {
  margin-top: 0.9rem;
  line-height: 1.7;
  font-size: 15px;
}
@media (min-width: 768px) {
  .main-article p {
    margin-top: 0;
  }
}
.main-article button {
  margin-top: 1.6rem;
  border: none;
  background-color: hsl(5, 85%, 63%);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4px;
  padding: 0.9rem 1.87rem;
  cursor: pointer;
  text-wrap: nowrap;
}
.main-article button:hover {
  color: hsl(36, 100%, 99%);
  background-color: hsl(240, 100%, 5%);
}
@media (min-width: 768px) {
  .main-article button {
    grid-column: 2;
    max-width: 11.5rem;
    max-height: 3rem;
    margin-top: -4.3rem;
  }
}

.new {
  background-color: hsl(240, 100%, 5%);
  padding: 1.3rem;
  margin: 2.95rem 1rem 1rem;
}
@media (min-width: 768px) {
  .new {
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 1.3rem;
  }
}
.new h1 {
  color: hsl(35, 77%, 62%);
}
@media (min-width: 768px) {
  .new h1 {
    font-size: 40px;
  }
}
.new__article {
  color: hsl(36, 100%, 99%);
  border-bottom: 1px solid hsl(36, 100%, 99%);
  margin-top: 1.9rem;
  padding-bottom: 2.1rem;
}
.new__article:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.new__article h2 {
  font-size: 20.2px;
  cursor: pointer;
}
.new__article h2:hover {
  color: hsl(35, 77%, 62%);
}
.new__article p {
  font-size: 15px;
  margin-top: 0.6rem;
  line-height: 1.6;
}

.top {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1.9rem;
}
@media (min-width: 768px) {
  .top {
    flex-direction: row;
    margin-top: 1.2rem;
  }
}
.top__article {
  display: flex;
  gap: 1.5rem;
}
.top__article img {
  width: 6.25rem;
  height: 8.1rem;
}
.top__article div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.top__article div h1 {
  color: hsl(5, 85%, 63%);
}
.top__article div h2 {
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}
.top__article div h2:hover {
  color: hsl(5, 85%, 63%);
}
.top__article div p {
  font-size: 15px;
  line-height: 1.8;
  max-width: 300px;
}

/*# sourceMappingURL=style.css.map */
