@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

$yellow: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $yellow;
}

.card {
    background-color: $white;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    border: 1px solid $black;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0 $black;
    margin: 0 1.5rem;
    max-width: 385px;

    h4 {
        font-size: 12px;
        font-weight: 600;
        margin: 1rem 0;

        @media (min-width: 768px) {
            font-size: 14px;
        }
    }

    h2 {
        font-size: 20px;

        @media (min-width: 768px) {
            font-size: 24px;
        }
    }

    p {
        color: $grey;
        font-size: 14px;
        line-height: 1.5;
        margin: 1rem 0;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }

    img {
        border-radius: 1rem;
        height: 10rem;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__category {
        background-color: $yellow;
        font-weight: 800;
        border-radius: 0.5rem;
        width: 4.5rem;
        text-align: center;
        font-size: 12px;
        padding: 0.35rem 0;
        margin: 1rem 0;

        @media (min-width: 768px) {
            width: 5rem;
            font-size: 14px;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        img {
            width: 2rem;
            height: 2rem;
        }

        h4 {
            align-items: center;
            font-weight: 800;
            font-size: 14px;
        }
    }
}
