@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'KumbhSans', sans-serif;
  background-color: var(--dark-cyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-position: right 35vw bottom 50vh, left 40vw top 40vh;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile {
  background-color: var(--white);
  border-radius: 1rem;
  margin: 1.5rem;
  padding-bottom: 1.5rem;
}

.profile__background img {
  width: 100%;
  min-height: 100%;
  border-radius: 1rem 1rem 0 0;
}

.profile__picture {
  display: flex;
  justify-content: center;
  margin-top: -3.5rem;
}

.profile__picture img {
  border-radius: 50%;
  border: 0.25rem solid var(--white);
}

.profile__details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.profile__details-name {
  color: var(--very-dark-desaturated-blue);
  font-size: 18px;
  font-weight: 700;
}

.profile__details-age {
  color: var(--dark-grayish-blue);
  font-size: 18px;
}

.profile__city {
  color: var(--dark-gray);
  text-align: center;
  font-size: 15px;
  margin-top: 0.5rem;
}

hr {
  border: none;
  border-top: 1px solid var(--dark-gray);
  opacity: 0.25;
  margin: 1.5rem 0;
}

.profile__stats {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2.6rem;
}

.profile__box-number {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.profile__box-name {
  font-size: 10px;
  color: var(--dark-grayish-blue);
  letter-spacing: 2px;
  padding-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  body {
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  }
}
