@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: hsl(228, 33%, 97%);
}
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
  }
}

.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 2rem 1rem;
}
@media (min-width: 768px) {
  .container {
    margin: 4rem 0;
    max-width: 730px;
  }
}
.container .you-label {
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(238, 40%, 52%);
  padding: 0.2rem;
  border-radius: 0.25rem;
}

.comment__container {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-areas: "info info" "content content" "rate reply";
}
@media (min-width: 768px) {
  .comment__container {
    grid-template-areas: "rate info reply" "rate content content" "rate content content";
    padding: 0.5rem 1.5rem 1.6rem 1.5rem;
    gap: 1.5rem;
  }
}
.comment__container--actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  grid-area: reply;
  margin-top: 1rem;
}
.comment__container--edit, .comment__container--delete {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.comment__container--edit {
  color: hsl(238, 40%, 52%);
}
.comment__container--edit::before {
  content: "";
  background-image: url("./images/icon-edit.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.comment__container--delete {
  color: hsl(358, 79%, 66%);
}
.comment__container--delete::before {
  content: "";
  background-image: url("./images/icon-delete.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.comment__container__info {
  display: flex;
  gap: 1rem;
  align-items: center;
  grid-area: info;
}
@media (min-width: 768px) {
  .comment__container__info {
    margin-top: 1rem;
  }
}
.comment__container__info img {
  width: 2rem;
  height: 2rem;
}
.comment__container__info h2 {
  font-size: 16.5px;
  font-weight: 500;
  color: hsl(212, 24%, 26%);
}
.comment__container__info span {
  font-size: 16px;
  color: hsl(211, 10%, 45%);
  white-space: nowrap;
}
.comment__container--content {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 16px;
  color: hsl(211, 10%, 45%);
  padding-right: 0.2rem;
  grid-area: content;
}
@media (min-width: 768px) {
  .comment__container--content {
    margin-top: -0.5rem;
    padding-right: 0;
  }
}
.comment__container__rate {
  display: flex;
  gap: 1rem;
  background-color: hsl(223, 19%, 93%);
  align-items: center;
  width: 6.3rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  justify-content: space-around;
  padding: 0 0.75rem;
  grid-area: rate;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .comment__container__rate {
    flex-direction: column;
    height: 6.3rem;
    width: 2.5rem;
  }
}
.comment__container__rate button {
  border: none;
  display: flex;
}
.comment__container__rate span {
  font-size: 15px;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
.comment__container--reply {
  border-radius: 0.5rem;
  font-size: 16px;
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  cursor: pointer;
  border: none;
  background: none;
  grid-area: reply;
  display: flex;
  margin: 1rem 0 0 0;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 768px) {
  .comment__container--reply {
    margin: 1.5rem 0 0 0;
    align-items: flex-start;
  }
}
.comment__container--reply::before {
  content: "";
  background-image: url("./images/icon-reply.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.comment__replies {
  margin-left: 0rem;
  border-left: 2px solid hsl(223, 19%, 93%);
  padding-left: 1rem;
}
@media (min-width: 768px) {
  .comment__replies {
    margin-left: 2.7rem;
    padding-left: 2.7rem;
  }
}
.comment__replies__container {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  display: grid;
  grid-template-areas: "info info" "content content" "rate reply";
}
@media (min-width: 768px) {
  .comment__replies__container {
    grid-template-areas: "rate info reply" "rate content content" "rate content content";
    padding: 0.5rem 1.5rem 1.6rem 1.5rem;
    gap: 2rem;
  }
}
.comment__replies__container__info {
  display: flex;
  gap: 1rem;
  align-items: center;
  grid-area: info;
}
@media (min-width: 768px) {
  .comment__replies__container__info {
    margin-top: 1rem;
  }
}
.comment__replies__container__info img {
  width: 2rem;
  height: 2rem;
}
.comment__replies__container__info h2 {
  font-size: 16.5px;
  font-weight: 500;
  color: hsl(212, 24%, 26%);
}
.comment__replies__container__info span {
  font-size: 16px;
  color: hsl(211, 10%, 45%);
  white-space: nowrap;
}
.comment__replies__container--content {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 16px;
  color: hsl(211, 10%, 45%);
  padding-right: 0.2rem;
  grid-area: content;
}
@media (min-width: 768px) {
  .comment__replies__container--content {
    margin-top: -0.5rem;
    padding-right: 0;
  }
}
.comment__replies__container--content span {
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
.comment__replies__container__rate {
  display: flex;
  gap: 1rem;
  background-color: hsl(223, 19%, 93%);
  align-items: center;
  width: 6.3rem;
  height: 2.5rem;
  border-radius: 0.75rem;
  justify-content: space-around;
  padding: 0 0.75rem;
  grid-area: rate;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .comment__replies__container__rate {
    flex-direction: column;
    height: 6.3rem;
    width: 2.5rem;
  }
}
.comment__replies__container__rate button {
  border: none;
  display: flex;
}
.comment__replies__container__rate span {
  font-size: 15px;
  color: hsl(238, 40%, 52%);
  font-weight: 500;
}
.comment__replies__container--actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  grid-area: reply;
  margin-top: 1rem;
}
.comment__replies__container--edit, .comment__replies__container--delete {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.comment__replies__container--edit {
  color: hsl(238, 40%, 52%);
}
.comment__replies__container--edit::before {
  content: "";
  background-image: url("./images/icon-edit.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.comment__replies__container--delete {
  color: hsl(358, 79%, 66%);
}
.comment__replies__container--delete::before {
  content: "";
  background-image: url("./images/icon-delete.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.add-comment {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-areas: "input input" "avatar button";
  gap: 1rem;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .add-comment {
    gap: 1.5rem;
    padding: 1.5rem;
    grid-template-areas: "avatar input button";
    align-items: flex-start;
    grid-template-columns: auto 1fr auto;
  }
}
.add-comment__avatar {
  grid-area: avatar;
  width: 2rem;
  height: 2rem;
}
@media (min-width: 768px) {
  .add-comment__avatar {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.add-comment__content {
  padding: 0.75rem;
  padding-left: 1.5rem;
  padding-bottom: 2.7rem;
  grid-area: input;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  color: hsl(211, 10%, 45%);
  resize: none;
  border: 1px solid hsl(239, 57%, 85%);
}
.add-comment__button {
  grid-area: button;
  color: hsl(0, 0%, 100%);
  background-color: hsl(238, 40%, 52%);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 16px;
  padding: 0.9rem 0rem;
}
@media (min-width: 768px) {
  .add-comment__button {
    padding: 1rem 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
