@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-grayish-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);
$dark-blue: hsl(212, 24%, 26%);
$grayish-blue: hsl(211, 10%, 45%);
$light-gray: hsl(223, 19%, 93%);
$very-light-gray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: $very-light-gray;
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 2rem 1rem;
  @media (min-width: 768px) {
    margin: 4rem 0;
    max-width: 730px;
  }

  .you-label {
    font-size: 13px;
    color: $white;
    background-color: $moderate-blue;
    padding: 0.2rem;
    border-radius: 0.25rem;
  }
}

.comment {
  &__container {
    background-color: $white;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-areas:
      "info info"
      "content content"
      "rate reply";
    @media (min-width: 768px) {
      grid-template-areas:
        "rate info reply"
        "rate content content"
        "rate content content";
      padding: 0.5rem 1.5rem 1.6rem 1.5rem;
      gap: 1.5rem;
    }
    &--actions {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      grid-area: reply;
      margin-top: 1rem;
    }
    &--edit,
    &--delete {
      border: none;
      background: none;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
    }
    &--edit {
      color: $moderate-blue;
      &::before {
        content: "";
        background-image: url("./images/icon-edit.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 0.75rem;
        height: 0.75rem;
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
    &--delete {
      color: $soft-red;
      &::before {
        content: "";
        background-image: url("./images/icon-delete.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 0.75rem;
        height: 0.75rem;
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
    &__info {
      display: flex;
      gap: 1rem;
      align-items: center;
      grid-area: info;
      @media (min-width: 768px) {
        margin-top: 1rem;
      }
      img {
        width: 2rem;
        height: 2rem;
      }
      h2 {
        font-size: 16.5px;
        font-weight: 500;
        color: $dark-blue;
      }
      span {
        font-size: 16px;
        color: $grayish-blue;
        white-space: nowrap;
      }
    }
    &--content {
      margin-top: 1rem;
      line-height: 1.5;
      font-size: 16px;
      color: $grayish-blue;
      padding-right: 0.2rem;
      grid-area: content;
      @media (min-width: 768px) {
        margin-top: -0.5rem;
        padding-right: 0;
      }
    }
    &__rate {
      display: flex;
      gap: 1rem;
      background-color: $light-gray;
      align-items: center;
      width: 6.3rem;
      height: 2.5rem;
      border-radius: 0.75rem;
      justify-content: space-around;
      padding: 0 0.75rem;
      grid-area: rate;
      margin-top: 1rem;
      @media (min-width: 768px) {
        flex-direction: column;
        height: 6.3rem;
        width: 2.5rem;
      }
      button {
        border: none;
        display: flex;
      }
      span {
        font-size: 15px;
        color: $moderate-blue;
        font-weight: 500;
      }
    }
    &--reply {
      border-radius: 0.5rem;
      font-size: 16px;
      color: $moderate-blue;
      font-weight: 700;
      cursor: pointer;
      border: none;
      background: none;
      grid-area: reply;
      display: flex;
      margin: 1rem 0 0 0;
      align-items: center;
      justify-content: flex-end;
      @media (min-width: 768px) {
        margin: 1.5rem 0 0 0;
        align-items: flex-start;
      }
      &::before {
        content: "";
        background-image: url("./images/icon-reply.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 0.75rem;
        height: 0.75rem;
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
  }
  &__replies {
    margin-left: 0rem;
    border-left: 2px solid $light-gray;
    padding-left: 1rem;
    @media (min-width: 768px) {
      margin-left: 2.7rem;
      padding-left: 2.7rem;
    }
    &__container {
      background-color: $white;
      padding: 1rem;
      border-radius: 0.5rem;
      margin-top: 1rem;
      display: grid;
      grid-template-areas:
        "info info"
        "content content"
        "rate reply";
      @media (min-width: 768px) {
        grid-template-areas:
          "rate info reply"
          "rate content content"
          "rate content content";
        padding: 0.5rem 1.5rem 1.6rem 1.5rem;
        gap: 2rem;
      }
      &__info {
        display: flex;
        gap: 1rem;
        align-items: center;
        grid-area: info;
        @media (min-width: 768px) {
          margin-top: 1rem;
        }
        img {
          width: 2rem;
          height: 2rem;
        }
        h2 {
          font-size: 16.5px;
          font-weight: 500;
          color: $dark-blue;
        }
        span {
          font-size: 16px;
          color: $grayish-blue;
          white-space: nowrap;
        }
      }
      &--content {
        margin-top: 1rem;
        line-height: 1.5;
        font-size: 16px;
        color: $grayish-blue;
        padding-right: 0.2rem;
        grid-area: content;
        @media (min-width: 768px) {
          margin-top: -0.5rem;
          padding-right: 0;
        }
        span {
          color: $moderate-blue;
          font-weight: 500;
        }
      }
      &__rate {
        display: flex;
        gap: 1rem;
        background-color: $light-gray;
        align-items: center;
        width: 6.3rem;
        height: 2.5rem;
        border-radius: 0.75rem;
        justify-content: space-around;
        padding: 0 0.75rem;
        grid-area: rate;
        margin-top: 1rem;
        @media (min-width: 768px) {
          flex-direction: column;
          height: 6.3rem;
          width: 2.5rem;
        }
        button {
          border: none;
          display: flex;
        }
        span {
          font-size: 15px;
          color: $moderate-blue;
          font-weight: 500;
        }
      }
      &--actions {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        grid-area: reply;
        margin-top: 1rem;
      }
      &--edit,
      &--delete {
        border: none;
        background: none;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
      }
      &--edit {
        color: $moderate-blue;
        &::before {
          content: "";
          background-image: url("./images/icon-edit.svg");
          background-repeat: no-repeat;
          background-size: cover;
          width: 0.75rem;
          height: 0.75rem;
          display: inline-block;
          margin-right: 0.5rem;
        }
      }
      &--delete {
        color: $soft-red;
        &::before {
          content: "";
          background-image: url("./images/icon-delete.svg");
          background-repeat: no-repeat;
          background-size: cover;
          width: 0.75rem;
          height: 0.75rem;
          display: inline-block;
          margin-right: 0.5rem;
        }
      }
      &--reply {
        border-radius: 0.5rem;
        font-size: 16px;
        color: $moderate-blue;
        font-weight: 700;
        cursor: pointer;
        border: none;
        background: none;
        grid-area: reply;
        display: flex;
        margin: 1rem 0 0 0;
        align-items: center;
        justify-content: flex-end;
        @media (min-width: 768px) {
          margin: 1rem 0 0 0;
          align-items: center;
        }
        &::before {
          content: "";
          background-image: url("./images/icon-reply.svg");
          background-repeat: no-repeat;
          background-size: cover;
          width: 0.75rem;
          height: 0.75rem;
          display: inline-block;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

.add-comment {
  background-color: $white;
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-areas:
    "input input"
    "avatar button";
  gap: 1rem;
  justify-content: space-between;
  margin-top: 0.5rem;
  @media (min-width: 768px) {
    gap: 1.5rem;
    padding: 1.5rem;
    grid-template-areas: "avatar input button";
    align-items: flex-start;
    grid-template-columns: auto 1fr auto;
  }
  &__avatar {
    grid-area: avatar;
    width: 2rem;
    height: 2rem;
    @media (min-width: 768px) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &__content {
    padding: 0.75rem;
    padding-left: 1.5rem;
    padding-bottom: 2.7rem;
    grid-area: input;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    border: none;

    font-size: 16px;
    color: $grayish-blue;
    resize: none;
    border: 1px solid $light-grayish-blue;
    @media (min-width: 768px) {
    }
  }
  &__button {
    grid-area: button;
    color: $white;
    background-color: $moderate-blue;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 0.9rem 0rem;
    @media (min-width: 768px) {
      padding: 1rem 2rem;
    }
  }
}

.edit-comment {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  &__content {
    padding: 0.75rem;
    padding-left: 1.5rem;
    padding-bottom: 2.7rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 16px;
    color: $grayish-blue;
    resize: none;
    border: 1px solid $light-grayish-blue;
  }
  &__save {
    color: $white;
    background-color: $moderate-blue;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 0.9rem 2rem;
    align-self: flex-end;
  }
}

.reply-form-container {
  margin-top: 1rem;
}
