@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  color: hsl(0, 0%, 48%);
  background-color: hsl(0, 0%, 98%);
  padding-bottom: 4.6rem;
}

.header {
  background: url("./images/image-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 2rem 1.5rem;
  height: 300px;
}
@media (min-width: 768px) {
  .header {
    background: url("./images/image-hero-desktop.jpg");
    display: flex;
    background-size: cover;
    background-position: center;
    background-position: ce;
    justify-content: space-between;
    align-items: flex-start;
    height: 400px;
    padding: 3rem 11.5%;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header__nav .hamburger {
    display: none;
  }
}
.header__menu {
  display: none;
  flex-direction: column;
}
.header__menu.active {
  display: flex;
}
@media (max-width: 767px) {
  .header__menu.active {
    background: hsl(0, 0%, 100%);
    gap: 1rem;
    border-radius: 0.5rem;
    margin-top: 2.25rem;
    z-index: 1000;
    position: relative;
  }
}
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
  }
}
.header__menu a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 768px) {
  .header__menu a {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .header__menu a:nth-child(1) {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding: 1.5rem 1.5rem;
  }
  .header__menu a:nth-child(2) {
    border-bottom: 1px solid hsl(0, 0%, 90%);
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  }
  .header__menu a:nth-child(3) {
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  }
}

.info {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: -3.5rem 1.6rem 0 1.6rem;
  padding: 0 1rem 2.4rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 95%);
}
@media (min-width: 768px) {
  .info {
    max-width: 730px;
    margin: -5.75rem auto 0 auto;
  }
}
.info--logo {
  transform: translateY(-50%);
}
.info h1 {
  color: hsl(0, 0%, 0%);
  font-size: 20px;
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .info h1 {
    font-size: 28px;
  }
}
.info p {
  font-size: 14px;
  margin-top: 1rem;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .info p {
    margin-top: 0.9rem;
    font-size: 16px;
  }
}
.info__cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.6rem;
  width: 100%;
  padding: 0 0.4rem;
}
@media (min-width: 768px) {
  .info__cta {
    padding: 0.6rem 2rem;
  }
}
.info__cta button {
  background-color: hsl(176, 50%, 47%);
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 700;
  padding: 1.2rem 2.6rem;
  border-radius: 2rem;
}
@media (min-width: 768px) {
  .info__cta button {
    font-size: 15px;
  }
}
.info__cta__bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .info__cta__bookmark {
    background: hsl(0, 0%, 96%);
    border-radius: 2rem;
  }
}
.info__cta__bookmark span {
  display: none;
}
@media (min-width: 768px) {
  .info__cta__bookmark span {
    display: block;
    font-weight: 700;
    padding: 0 1.25rem;
  }
}

.stats {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1.5rem 1.6rem 0 1.6rem;
  padding: 2rem 1rem 2.4rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 95%);
}
@media (min-width: 768px) {
  .stats {
    text-align: left;
    max-width: 730px;
    margin: 1.5rem auto 0 auto;
    padding: 1.4rem 3rem 3rem 3rem;
  }
}
.stats__container {
  display: flex;
  flex-direction: column;
  gap: 1.55rem;
}
@media (min-width: 768px) {
  .stats__container {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}
.stats__container h1 {
  color: hsl(0, 0%, 0%);
}
.stats__container p {
  font-size: 14px;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .stats__container p {
    font-size: 15px;
  }
}
.stats__container__of {
  padding-right: 1rem;
}
.stats__container__total {
  border-top: 1px solid hsl(0, 0%, 85%);
  border-bottom: 1px solid hsl(0, 0%, 85%);
  padding-top: 1.4rem;
  padding-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .stats__container__total {
    border-bottom: none;
    padding-bottom: auto;
    border-top: none;
    border-right: 1px solid hsl(0, 0%, 85%);
    border-left: 1px solid hsl(0, 0%, 85%);
    padding-right: 7.2rem;
    padding-left: 3rem;
  }
}
.stats__bar {
  margin-top: 2rem;
  border-radius: 0.5rem;
  background: hsl(0, 0%, 96%);
  width: 100%;
  height: 0.75rem;
}
@media (min-width: 768px) {
  .stats__bar {
    margin-top: 0.8rem;
  }
}
.stats__bar__progress {
  background: hsl(176, 50%, 47%);
  border-radius: 0.5rem;
  height: 100%;
}

.about {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1.6rem 0 1.6rem;
  padding: 2.5rem 1rem 2.4rem 1.3rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 95%);
}
@media (min-width: 768px) {
  .about {
    max-width: 730px;
    margin: 1.5rem auto 0 auto;
    padding: 3rem 3rem 3rem;
  }
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 768px) {
  .about__content {
    gap: 2rem;
  }
}
.about__content h1 {
  color: hsl(0, 0%, 0%);
  font-size: 18px;
}
@media (min-width: 768px) {
  .about__content h1 {
    font-size: 20px;
  }
}
.about__content p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .about__content p {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.9;
  }
}
.about__container {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 0.5rem 0 0;
}
@media (min-width: 768px) {
  .about__container {
    padding: 0rem 0.5rem 0 0;
    gap: 1.5rem;
  }
}
.about__container__card {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 1.3rem 1.4rem 1.5rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 95%);
}
@media (min-width: 768px) {
  .about__container__card {
    display: grid;
    grid-template-areas: "h2 h3" "p p" "h4 button";
    grid-template-columns: 1fr;
    padding: 2.6rem 1.5rem 2rem 2rem;
  }
}
.about__container__card h2 {
  color: hsl(0, 0%, 0%);
  font-size: 14px;
}
@media (min-width: 768px) {
  .about__container__card h2 {
    font-size: 18px;
    grid-area: h2;
  }
}
.about__container__card h3 {
  color: hsl(176, 50%, 47%);
  font-size: 14px;
  margin-top: 0.5rem;
}
@media (min-width: 768px) {
  .about__container__card h3 {
    grid-area: h3;
    margin-top: 0;
    text-align: right;
    font-size: 15px;
  }
}
.about__container__card p {
  font-size: 14px;
  margin-top: 1.6rem;
  line-height: 1.7;
}
@media (min-width: 768px) {
  .about__container__card p {
    grid-area: p;
    font-size: 16px;
  }
}
.about__container__card h4 {
  font-size: 14px;
  margin-top: 1.5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .about__container__card h4 {
    grid-area: h4;
  }
}
.about__container__card h4 span {
  font-weight: 700;
  font-size: 32px;
  color: hsl(0, 0%, 0%);
}
.about__container__card button {
  background-color: hsl(176, 50%, 47%);
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 700;
  border-radius: 2rem;
  margin-top: 1.5rem;
  width: 10rem;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .about__container__card button {
    grid-area: button;
  }
}
.about__container__card--out {
  opacity: 0.5;
}
.about__container__card--out button {
  background-color: hsl(0, 0%, 48%);
}

.support {
  background: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 2.4rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 95%);
  align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 87%;
}
@media (min-width: 768px) {
  .support {
    max-width: 540px;
    padding: 3rem 3rem 3rem;
  }
}
.support h1 {
  color: hsl(0, 0%, 0%);
  font-size: 18px;
  margin-top: 1.5rem;
}
@media (min-width: 768px) {
  .support h1 {
    margin-top: 3rem;
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .support img {
    width: 5.5rem;
  }
}
.support p {
  padding-top: 1.7rem;
  font-size: 14px;
  line-height: 1.65;
}
@media (min-width: 768px) {
  .support p {
    font-size: 16px;
    padding-top: 1.2rem;
    line-height: 1.8;
  }
}
.support button {
  background-color: hsl(176, 50%, 47%);
  border: none;
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 700;
  border-radius: 2rem;
  margin-top: 1.95rem;
  width: 7rem;
  padding: 1rem 0;
}

/*# sourceMappingURL=style.css.map */
