@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  border-radius: 1.5rem;
  max-width: 20rem;
  background-color: white;
  padding: 1rem 1rem 1.5rem 1rem;
}

.card__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

h1 {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  padding: 1rem;
  margin-top: 0.5rem;
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  text-align: center;
  font-weight: 400;
  padding: 0 1.5rem 1rem 0.5rem;
}
