@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  color: var(--dark-grayish-blue);
  background-size: 100%;
}

p {
  color: var(--grayish-blue);
  font-size: 0.96rem;
}

h1 {
  font-size: 1.89rem;
  font-weight: 600;
}

h2 {
  font-weight: 600;
}

button {
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border-bottom: 3px solid hsla(0, 0%, 25%, 20%);
  cursor: pointer;
}

button:nth-child(1) {
  background-color: var(--strong-cyan);
  box-shadow: 0px 10px 27px -12px var(--strong-cyan);
}

button:nth-child(2) {
  background-color: var(--light-blue);
  box-shadow: 0px 10px 27px -12px var(--light-blue);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.header img {
  width: 7.5rem;
  margin: 0 auto;
}

.header p {
  max-width: 35rem;
  margin: 0 auto;
}

.header__cta {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.snippet {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  gap: 2rem;
  line-height: 1.5;
  padding-bottom: 6rem;
}

.snippet p {
  max-width: 38rem;
  margin: 0 auto;
}

.snippet__image img {
  max-width: 100%;
}

.snippets__features {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.5;
}

.snippets__features h3 {
  padding-bottom: 0.5rem;
}

.access {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
  gap: 2rem;
}

.access p {
  line-height: 1.5;
  max-width: 38rem;
  margin: 0 auto;
}

.access img {
  max-width: 100%;
  margin: 0 auto;
}

.workflow {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
}

.workflow p {
  line-height: 1.5;
}

.workflow__features {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 3rem;
}

.workflow__features div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-top: 4rem;
  padding-bottom: 6rem;
}

.clipboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  gap: 2rem;
  line-height: 1.5;
  padding-bottom: 6rem;
}

.clipboard__cta {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: hsl(201, 11%, 97%);
  gap: 2rem;
  padding: 2rem;
}

.footer__logo img {
  width: 4rem;
  font-weight: 600;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__links div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__links a {
  color: var(--dark-grayish-blue);
  text-decoration: none;
  font-weight: 500;
}

.footer__social {
  display: flex;
  gap: 2rem;
}

@media (min-width: 768px) {
  body {
    background-image: url(images/bg-header-desktop.png);
  }

  button {
    padding: 1rem 2rem;
  }

  .header__cta {
    flex-direction: row;
    justify-content: center;
  }

  .snippet__image {
    margin-left: -4rem;
  }

  .snippet div {
    display: flex;
  }

  .snippets__features {
    padding-top: 5rem;
    padding-left: 5rem;
    max-width: 25rem;
  }

  .snippets__features div {
    flex-direction: column;
    text-align: left;
  }

  .workflow__features {
    flex-direction: row;
    margin: 0 auto;
  }

  .workflow__features div {
    max-width: 20rem;
  }

  .partners {
    flex-direction: row;
    max-width: 75rem;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .clipboard p {
    max-width: 38rem;
    margin: 0 auto;
  }

  .clipboard__cta {
    flex-direction: row;
    justify-content: center;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 5rem;
  }

  .footer__links {
    flex-direction: row;
    text-align: left;
    align-items: start;
  }

  .footer__links div {
    padding-right: 4rem;
  }
}
