@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Barlow+Condensed:wght@400;700&display=swap");

$red: hsl(0, 100%, 68%);
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 2rem;

  @media (min-width: 768px) {
    padding: 4rem 11.5%;
  }

  &--logo {
    width: 24px;
    height: 24px;

    @media (min-width: 768px) {
      width: 32px;
      height: 32px;
    }
  }

  &__nav {
    a {
      &:hover {
        text-decoration: underline;
      }
    }

    &__hamburger {
      display: block;
      @media (min-width: 768px) {
        display: none;
      }

      &__menu {
        display: flex;
        flex-direction: column;
        background-color: $white;
        padding: 1.5rem 2rem;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 84%;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 2.5rem;
        gap: 1.45rem;

        a {
          text-transform: uppercase;
          font-weight: 700;
          color: $very-dark-blue;
          font-size: 19px;
          letter-spacing: 1px;
          text-decoration: none;
          font-family: "Barlow Condensed", sans-serif;

          &:last-child {
            color: $grayish-blue;
          }
        }

        hr {
          border: 0;
          border-top: 1px solid $grayish-blue;
          margin-top: 1.5rem;
          margin: 0;
        }
      }
    }

    &__menu {
      display: none;

      @media (min-width: 768px) {
        display: flex;
        gap: 2.65rem;
        align-items: center;

        a {
          text-transform: uppercase;
          font-weight: 700;
          color: $very-dark-blue;
          font-size: 15px;
          letter-spacing: 1px;
          text-decoration: none;
          font-family: "Barlow Condensed", sans-serif;
        }

        div {
          display: flex;
          gap: 2.55rem;
        }
      }

      &--circle {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: $grayish-blue;
      }
      &--login {
        color: $grayish-blue !important;
      }
    }
  }
}

.main {
  margin-top: 1.2rem;
  overflow: hidden;

  @media (min-width: 768px) {
    display: flex;
    margin-top: 0.8rem;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  &--illustration {
    width: 137%;
    padding-left: 0.5rem;

    @media (min-width: 768px) {
      width: 67%;
      margin-right: -16.5rem;
      margin-top: 2.4rem;
    }
  }

  &__content {
    margin-top: 3.25rem;
    padding: 2rem;

    @media (min-width: 768px) {
      padding: 2rem 0;
      padding-left: 11.5%;
    }

    h1 {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 40px;
      text-transform: uppercase;
      margin-top: 1rem;
      line-height: 1;

      @media (min-width: 768px) {
        font-size: 64px;
      }
    }

    p {
      margin-top: 1rem;
      font-size: 18px;
      padding-right: 2rem;
      line-height: 1.4;

      @media (min-width: 768px) {
        margin-top: 2rem;
        max-width: 55%;
      }
    }

    div {
      display: flex;

      &:nth-child(1) {
        gap: 1rem;

        span {
          color: $white;
          font-weight: 600;
          background-color: $very-dark-blue;
          padding: 0.3rem 0.6rem;
          border-radius: 1rem;
          text-transform: uppercase;
          font-size: 14px;
          font-family: "Barlow Condensed", sans-serif;
          letter-spacing: 0.1rem;
        }

        h4 {
          text-transform: uppercase;
          font-weight: 400;
          color: $grayish-blue;
          letter-spacing: 0.11rem;
        }
      }

      &:nth-last-child(1) {
        gap: 1.2rem;
        margin-top: 1.7rem;
        align-items: center;

        @media (min-width: 768px) {
          margin-top: 0;
          align-items: center;
          margin-top: 4.1rem;
          gap: 1.5rem;
        }

        button {
          border: 0;
          background-color: $red;
          border-radius: 0.25rem;
          padding: 0.75rem 1.35rem;
          color: $white;
          text-transform: uppercase;
          font-weight: 700;
          font-family: "Barlow Condensed", sans-serif;
          letter-spacing: 0.1rem;

          &:hover {
            cursor: pointer;
            background: hsla(0, 100%, 68%, 0.7);
          }

          @media (min-width: 768px) {
            padding: 0.9rem 2rem;
            font-size: 15px;
          }
        }

        span {
          text-transform: uppercase;
          color: $grayish-blue;
          font-size: 12px;

          @media (min-width: 768px) {
            font-size: 15px;
            letter-spacing: 0.55px;
          }
        }
      }
    }
  }
}

.background {
  background-color: $light-grayish-blue;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 50%;
  height: 53.1vh;
  border-bottom-left-radius: 3.8rem;

  @media (min-width: 768px) {
    width: 49%;
  }
}
