@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $very-dark-grayish-blue;
}

.nav {
  background-image: url("./images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem;
  color: $white;
  display: flex;
  flex-direction: column;
  padding-bottom: 8.5rem;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__other {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: "Fraunces", sans-serif;
      text-transform: uppercase;
      text-align: center;
      margin-top: 6.55rem;
      font-size: 44px;
      letter-spacing: 5px;
      line-height: 48px;
    }

    img {
      margin-top: 3rem;
    }
  }
}

.box {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
    }

    h2 {
      font-family: "Fraunces", sans-serif;
      font-size: 32px;
      padding: 0 1rem;
      margin-top: 3.8rem;
      text-align: center;
      line-height: 42px;
      font-weight: 900;
      color: $very-dark-desaturated-blue;
    }

    p {
      text-align: center;
      margin-top: 1.3rem;
      font-size: 18px;
      padding: 0 1.8rem;
      line-height: 30px;
      letter-spacing: -0.1px;
    }

    button {
      font-family: "Fraunces", sans-serif;
      text-transform: uppercase;
      background: none;
      border: none;
      font-size: 17px;
      margin-top: 2.1rem;
      font-weight: 900;
      border-bottom: 3px solid $yellow;
      border-width: 0.2rem;
      margin-bottom: 4rem;
    }

    &__graphic {
      background-image: url("./images/mobile/image-graphic-design.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: $dark-desaturated-cyan;

      h2 {
        font-family: "Fraunces", sans-serif;
        font-size: 28px;
        padding: 0 1rem;
        text-align: center;
        line-height: 42px;
        font-weight: 900;
      }

      p {
        text-align: center;
        margin-top: 1rem;
        font-size: 16.5px;
        padding: 0 1.1rem;
        line-height: 29px;
        letter-spacing: -0.4px;
        margin-bottom: 3.5rem;
      }
    }

    &__photo {
      background-image: url("./images/mobile/image-photography.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: $dark-blue;

      h2 {
        font-family: "Fraunces", sans-serif;
        font-size: 28px;
        padding: 0 1rem;
        text-align: center;
        line-height: 42px;
        font-weight: 900;
      }

      p {
        text-align: center;
        margin-top: 1rem;
        font-size: 16.5px;
        padding: 0 1.1rem;
        line-height: 29px;
        letter-spacing: -0.4px;
        margin-bottom: 3.5rem;
      }
    }
  }
}

.client {
  color: $dark-grayish-blue;
  text-align: center;
  padding-top: 3.8rem;

  h3 {
    text-transform: uppercase;
    font-family: "Fraunces", sans-serif;
    letter-spacing: 2.5px;
  }

  &__container {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.3rem;

      img {
        border-radius: 50%;
        width: 4.5rem;
      }

      p {
        font-size: 18px;
        padding: 0 1.5rem;
        line-height: 30px;
      }

      h3 {
        font-size: 18px;
        letter-spacing: -1px;
      }

      span {
        margin-top: -2rem;
        letter-spacing: -1px;
      }
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin-top: 5rem;

  img {
    width: 100%;
  }
}

.footer {
  color: $dark-desaturated-cyan;
  background-color: $dark-moderate-cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 5rem;

  img {
    height: 2rem;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    gap: 3.5rem;
    font-size: 18px;
    margin-top: 2.5rem;
  }

  &__social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 5.5rem;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
