@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background: hsl(0, 0%, 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  padding: 1.5rem 6%;
}
@media (min-width: 768px) {
  .nav {
    padding: 1.2rem 11.5%;
  }
}
.nav--icon-hamburger {
  width: 32px;
  height: 32px;
}
@media (min-width: 768px) {
  .nav--icon-hamburger {
    display: none;
  }
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav__menu__links {
  display: flex;
  gap: 1.5rem;
}
.nav__menu__links a {
  color: hsl(216, 30%, 68%);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
}
.nav__menu__links a:hover {
  color: hsl(270, 9%, 17%);
}
.nav__menu button {
  background: none;
  color: hsl(256, 26%, 20%);
  border: 2px solid hsl(256, 26%, 20%);
  padding: 0.7rem 1.7rem;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
}

.intro {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 98%);
}
.intro::before {
  content: "";
  background-image: url(images/bg-pattern-intro-left-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 531px;
  pointer-events: none;
}
.intro::after {
  content: "";
  background-image: url(images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  position: absolute;
  bottom: -46.5%;
  right: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.intro__container {
  background: hsl(256, 26%, 20%);
  padding: 4rem 6%;
  text-align: center;
  padding-bottom: 5.8rem;
}
.intro__container h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 46.5px;
  line-height: 1.1;
  margin-top: 1.7rem;
}
.intro__container p {
  margin-top: 0.8rem;
  line-height: 1.6;
  padding: 0 0.5rem;
}
.intro__container button {
  background: none;
  color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 98%);
  padding: 0.7rem 1.7rem;
  text-transform: uppercase;
  margin-top: 2.1rem;
  font-size: 13px;
  letter-spacing: 1px;
}

.diff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8.75rem;
}
.diff::before {
  content: "";
  background-color: hsl(256, 26%, 20%);
  position: absolute;
  height: 1px;
  width: 10rem;
}
.diff h1 {
  font-family: "DM Serif Display", serif;
  margin-top: 2rem;
  font-size: 47px;
  font-weight: 400;
}
.diff__container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 4.5rem;
  gap: 3.6rem;
}
.diff__container__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.diff__container__box h2 {
  margin-top: 2.05rem;
  font-size: 27px;
  font-family: "DM Serif Display", serif;
}
.diff__container__box p {
  margin-top: 1.15rem;
  padding: 0 1.6rem;
  line-height: 1.55;
}

.how {
  background: url("./images/bg-pattern-how-we-work-mobile.svg") top right no-repeat, hsl(256, 26%, 20%);
  color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8.8rem 1.5rem 0 1.5rem;
  padding-top: 4.7rem;
  padding-bottom: 4.55rem;
}
.how h1 {
  font-family: "DM Serif Display", serif;
  font-size: 38.5px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
.how button {
  background: none;
  color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 98%);
  padding: 0.7rem 1.4rem;
  text-transform: uppercase;
  margin-top: 2.6rem;
  font-size: 13px;
  letter-spacing: 1px;
}

.footer {
  margin-top: 8.75rem;
  background: url("./images/bg-pattern-footer-mobile.svg") top right no-repeat, hsl(0, 0%, 98%);
  padding-bottom: 5.5rem;
}
@media (min-width: 768px) {
  .footer {
    background: url("./images/bg-pattern-footer-desktop.svg") top left no-repeat, hsl(0, 0%, 98%);
  }
}
.footer__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5.5rem;
  align-items: center;
  gap: 2rem;
}
.footer__header--logo {
  width: 112px;
}
.footer__header__social {
  display: flex;
  gap: 1rem;
}
.footer__menu {
  display: grid;
  margin-top: 5rem;
  text-align: center;
  gap: 2.6rem;
}
.footer__menu::before {
  content: "";
  background-color: hsl(273, 4%, 51%);
  position: absolute;
  left: 1rem;
  right: 1rem;
  height: 1px;
  margin-top: -2.5rem;
}
.footer__menu__links {
  display: flex;
  flex-direction: column;
}
.footer__menu__links h2 {
  font-size: 14px;
  letter-spacing: 1px;
  color: hsl(273, 4%, 51%);
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.footer__menu__links p {
  color: hsl(273, 4%, 51%);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: hsl(256, 26%, 20%);
}
.footer__menu__links div {
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
}

/*# sourceMappingURL=style.css.map */
