@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

$soft-cyan: hsl(174, 77%, 80%);
$strong-cyan: hsl(174, 86%, 45%);
$light-grayish-red: hsl(14, 92%, 95%);
$light-red: hsl(15, 100%, 70%);
$pale-blue: hsl(226, 100%, 87%);
$white: hsl(0, 0%, 100%);
$very-pale-blue: hsl(230, 100%, 99%);
$toggle-background: hsl(223, 50%, 87%);
$grayish-blue: hsl(225, 20%, 60%);
$dark-desaturated-blue: hsl(227, 35%, 25%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background: url("./images/bg-pattern.svg") $very-pale-blue;
  background-repeat: no-repeat;
}

.container {
  .header {
    background-image: url("./images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem 0;
    margin-top: 3.5rem;

    h1 {
      color: $dark-desaturated-blue;
      font-size: 20px;
    }

    p {
      color: $grayish-blue;
      font-size: 12.5px;
      width: 50%;
      line-height: 1.8;
      letter-spacing: 0.2px;
      text-align: center;
    }
  }

  .component {
    background-color: $white;
    padding: 1rem 0;
    margin: 2.1rem 1.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding-bottom: 2rem;

    h5 {
      text-transform: uppercase;
      color: $grayish-blue;
      font-size: 12px;
      text-align: center;
      letter-spacing: 1.7px;
      margin-top: 1.15rem;
    }

    &__slider {
      padding: 0 1rem;

      /*********** Baseline, reset styles ***********/
      input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        width: 100%;
        margin-top: 2.5rem;
        padding: 0 0.5rem;
      }

      /* Removes default focus */
      input[type="range"]:focus {
        outline: none;
      }

      /******** Chrome, Safari, Opera and Edge Chromium styles ********/
      /* slider track */
      input[type="range"]::-webkit-slider-runnable-track {
        background-color: $soft-cyan;
        border-radius: 0.5rem;
        height: 0.5rem;
      }

      /* slider thumb */
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        margin-top: -16px; /* Centers thumb on the track */
        background-color: $strong-cyan;
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        background-image: url("./images/icon-slider.svg");
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 10px 15px $soft-cyan;
      }

      input[type="range"]:focus::-webkit-slider-thumb {
        outline-offset: 0.125rem;
      }

      /*********** Firefox styles ***********/
      /* slider track */
      input[type="range"]::-moz-range-track {
        background-color: $soft-cyan;
        border-radius: 0.5rem;
        height: 0.5rem;
      }

      /* slider thumb */
      input[type="range"]::-moz-range-thumb {
        background-color: $strong-cyan;
        border: none; /*Removes extra border that FF applies*/
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
      }

      input[type="range"]:focus::-moz-range-thumb {
        outline: 3px solid $strong-cyan;
        outline-offset: 0.125rem;
      }
    }

    &__amount {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.7rem;
      margin-top: 2.25rem;

      h1 {
        font-size: 31px;
      }

      span {
        font-size: 15px;
        color: $grayish-blue;
      }
    }

    &__bill {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.7rem;
      padding: 0 1rem;
      padding-bottom: 2.35rem;
      margin-top: 2.2rem;

      &__switch {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 22px;

        input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        input:checked + .slider {
          background-color: #2196f3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(20px);
          -ms-transform: translateX(20px);
          transform: translateX(20px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
      }

      div {
        display: flex;
        gap: 0.5rem;
        color: $grayish-blue;
        display: flex;
        align-items: center;
        justify-content: center;

        label {
          font-size: 12px;
        }

        p {
          font-size: 12px;
        }

        span {
          font-size: 9px;
          color: $light-red;
          background-color: $light-grayish-red;
          border-radius: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.25rem 0.5rem;
          font-weight: 800;
        }
      }
    }

    hr {
      border: none;
      height: 1px;
      background-color: $grayish-blue;
      opacity: 0.2;
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.7rem;
      padding-top: 1.5rem;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: $grayish-blue;

        p {
          font-size: 12px;
        }
      }

      button {
        margin-top: 1.15rem;
        padding: 0.82rem;
        border: none;
        border-radius: 1.5rem;
        font-weight: 700;
        background-color: $dark-desaturated-blue;
        color: $grayish-blue;
        width: 168px;
      }
    }
  }
}
