@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
  margin-top: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
.header img {
  width: 95px;
}
.header button {
  background-color: hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  border: none;
  cursor: pointer;
  padding: 0.4rem 1rem;
  color: hsl(0, 0%, 100%);
  font-size: 10px;
  border-radius: 1rem;
}

.build {
  margin-top: 7.2rem;
}
.build img {
  max-width: 100%;
  padding: 0 2.2rem;
  margin-top: 6.4rem;
}
.build__text {
  text-align: center;
}
.build__text h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  padding: 0 2rem;
}
.build__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 2rem;
  margin-top: 1.4rem;
}
.build__text button {
  background-color: hsl(322, 100%, 66%);
  color: hsl(322, 100%, 66%);
  border: none;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  color: hsl(0, 0%, 100%);
  font-size: 10px;
  border-radius: 2rem;
  margin-top: 3rem;
  font-size: 13px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 7.1rem;
  align-items: center;
  gap: 6rem;
}
.stats__card {
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.stats__card:nth-child(1) img {
  height: 1.6rem;
}
.stats__card:nth-child(1) h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
}
.stats__card:nth-child(1) p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}
.stats__card:nth-child(2) img {
  height: 1.2rem;
}
.stats__card:nth-child(2) h2 {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.5;
}
.stats__card:nth-child(2) p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}
.stats__card:nth-child(2) p span {
  display: block;
}

.section {
  display: flex;
  flex-direction: column;
}
.section__card {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.section__card:nth-child(2) {
  background-color: hsl(207, 100%, 98%);
  padding-top: 5rem;
  padding-bottom: 3.3rem;
}
.section__card:nth-child(4) {
  margin-top: 1rem;
  padding-top: 8.5rem;
  padding-bottom: 7.6rem;
}
.section__card:nth-child(6) {
  background-color: hsl(207, 100%, 98%);
  padding-top: 1.2rem;
  padding-bottom: 7.5rem;
}
.section__card img {
  max-width: 100%;
  padding: 0 3.7rem;
}
.section__card__text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.7rem;
}
.section__card__text h2 {
  font-size: 20px;
}
.section__card__text p {
  font-size: 14px;
  line-height: 1.5;
}

.ready {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("./images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  margin-top: 4.4rem;
  padding-bottom: 19rem;
}
.ready h1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  padding: 0 2rem;
}
.ready button {
  background-color: hsl(322, 100%, 66%);
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  padding: 0.7rem 2.5rem;
  font-size: 10px;
  border-radius: 2rem;
  margin-top: 2.5rem;
  font-size: 13px;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: hsl(192, 100%, 9%);
  color: hsl(0, 0%, 100%);
  padding: 3.5rem 1.8rem;
  padding-bottom: 2.5rem;
}
.footer__news {
  display: flex;
  flex-direction: column;
}
.footer__news h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
.footer__news p {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 1rem;
  letter-spacing: 0.2px;
}
.footer__news div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
}
.footer__news div input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.footer__news div button {
  background-color: hsl(322, 100%, 66%);
  color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  padding: 1rem 2.8rem;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 700;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 3.5rem;
}
.footer__content__logo {
  margin-top: 3rem;
}
.footer__content__logo img {
  width: 200px;
}
.footer__content__logo p {
  margin-top: 0.7rem;
  font-size: 14px;
  line-height: 1.7;
}
.footer__content__contact {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.footer__content__contact div {
  display: flex;
  gap: 1.2rem;
}
.footer__content__contact div p {
  font-size: 14px;
}
.footer__content__social {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
.footer__content__social svg {
  width: 1.5rem;
  fill: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=style.css.map */
