@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
  height: 100%;
}

.header button {
  border: none;
  border: 1px solid var(--light-pink);
  color: var(--light-pink);
  background-color: white;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.comm {
  padding: 2rem;
  text-align: center;
}

.comm h1 {
  font-size: 1.7rem;
}

.comm p {
  font-size: 0.9rem;
  padding: 2rem 0;
}

.comm button {
  border: none;
  background-color: var(--pink);
  padding: 1rem 3rem;
  color: white;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
}

.comm img {
  width: 100%;
  padding-top: 5rem;
}

.comm__stats {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

.comm__stats img {
  width: 2rem;
  height: 100%;
  float: left;
}

.comm__stats div {
  max-width: 250px;
  margin: 0 auto;
}

.comm__stats h1 {
  font-size: 4rem;
  font-weight: 600;
}

.comm__stats p {
  padding: 0;
  color: var(--very-dark-cyan);
}

.section {
  text-align: center;
}

.section p {
  font-size: 0.85rem;
}

.section img {
  width: 100%;
}

.section__one,
.section__two,
.section__three {
  padding: 2rem;
}

.section__one,
.section__three {
  background-color: var(--very-pale-blue);
}

.bg__section--top {
  background-image: url(./images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 10rem;
}

.bg__section--bottom {
  background-image: url(./images/bg-section-bottom-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  padding-bottom: 10rem;
}

.bg__section--top2 {
  background-image: url(./images/bg-section-top-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding-bottom: 10rem;
}

.bg__section--bottom2 {
  background-image: url(./images/bg-section-bottom-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  padding-bottom: 10rem;
}

.read {
  text-align: center;
}

.read button {
  border: none;
  background-color: var(--pink);
  padding: 1rem 3rem;
  color: white;
  font-weight: 600;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 2rem;
}

.bg__section--footer {
  background-image: url(./images/bg-footer-top-mobile.svg);
  background-repeat: no-repeat;
  padding-bottom: 10rem;
  background-size: contain;
  background-position: center bottom;
}

.footer {
  background-color: var(--very-dark-cyan);
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.footer p {
  font-size: 0.9rem;
  padding-top: 1rem;
}

.footer__news div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: end;
}

.footer__news button {
  border: none;
  background-color: var(--pink);
  padding: 1rem 3rem;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
}

.footer input {
  padding: 0.7rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
}

.footer__social {
  gap: 1rem;
  display: flex;
}

.footer__social--svg {
  display: flex;
}

.footer__social--svg svg {
  fill: white;
  width: 1.5rem;
  height: 1.5rem;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__contact--logo {
  width: 200px;
}

.footer__contact--content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .header {
    padding: 3rem;
  }

  .header img {
    width: 200px;
  }

  .header button {
    padding: 0.5rem 1.5rem;
  }

  .comm h1 {
    font-size: 2.5rem;
  }

  .comm p {
    font-size: 1rem;
    width: 35%;
    margin: 0 auto;
  }

  .comm button {
    padding: 1.5rem 4rem;
    font-size: 1.1rem;
  }

  .comm__mockups {
    padding: 4rem 15rem;
  }

  .comm__stats {
    flex-direction: row;
    padding-top: 0;
  }

  .comm__stats h1 {
    font-size: 6rem;
  }

  .comm__stats p {
    font-size: 1.2rem;
    text-wrap: nowrap;
    width: 100%;
  }

  .comm__stats img {
    height: auto;
  }

  .bg__section--top {
    background-image: url(./images/bg-section-top-desktop-1.svg);
  }

  .bg__section--bottom {
    background-image: url(./images/bg-section-bottom-desktop-1.svg);
  }

  .bg__section--top2 {
    background-image: url(./images/bg-section-top-desktop-2.svg);
  }

  .bg__section--bottom2 {
    background-image: url(./images/bg-section-bottom-desktop-2.svg);
  }

  .section__one {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row-reverse;
    padding: 0 6rem;
    gap: 7rem;
  }

  .section__one h2 {
    font-size: 2.5rem;
  }

  .section__one p {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .section__one img {
    width: 50%;
  }

  .section__two {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 6rem;
    gap: 7rem;
  }

  .section__two h2 {
    font-size: 2.5rem;
  }

  .section__two p {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .section__two img {
    width: 50%;
  }

  .section__three {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row-reverse;
    padding: 0 6rem;
    gap: 7rem;
  }

  .section__three h2 {
    font-size: 2.5rem;
  }

  .section__three p {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .section__three img {
    width: 50%;
  }

  .read button {
    padding: 1.2rem 4rem;
    font-size: 1.1rem;
  }

  .bg__section--footer {
    background-image: url(./images/bg-footer-top-desktop.svg);
    padding-bottom: 10rem;
  }

  .footer {
    padding: 3rem 5rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .footer__news,
  .footer__contact {
    width: 30%;
  }

  .footer__news div {
    flex-direction: row;
  }
}
