@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
}
@media (min-width: 768px) {
  body {
    max-width: 1360px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .header {
    margin-top: 1.5rem;
  }
}
.header__mobile {
  display: none;
  justify-content: space-between;
  padding: 1.3rem 1rem 1.5rem;
}
.header__mobile__menu {
  max-width: 100%;
  height: 19px;
}
.header__desktop {
  display: flex;
  justify-content: space-between;
}
.header__desktop .icon-arrow {
  background-image: url("./images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
}
.header__desktop__left {
  display: flex;
  gap: 4rem;
  align-items: center;
  color: hsl(0, 0%, 41%);
}
.header__desktop__left__menu {
  display: flex;
  gap: 2.5rem;
  position: relative;
  font-size: 14px;
}
.header__desktop__left__menu__content__features {
  display: flex;
  justify-content: flex-end;
}
.header__desktop__left__menu__content__features__name {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.header__desktop__left__menu__content__features__name:hover {
  color: hsl(0, 0%, 8%);
}
.header__desktop__left__menu__content__features__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  gap: 1rem;
  margin-top: 2rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.header__desktop__left__menu__content__features__container div {
  display: flex;
  gap: 1rem;
}
.header__desktop__left__menu__content__company__name {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.header__desktop__left__menu__content__company__name:hover {
  color: hsl(0, 0%, 8%);
}
.header__desktop__left__menu__content__company__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  gap: 1.2rem;
  margin-top: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.header__desktop__left__menu--careers, .header__desktop__left__menu--about {
  cursor: pointer;
}
.header__desktop__left__menu--careers:hover, .header__desktop__left__menu--about:hover {
  color: hsl(0, 0%, 8%);
}
.header__desktop__auth {
  display: flex;
  gap: 0.3rem;
}
.header__desktop__auth button {
  padding: 0.7rem;
  border: none;
  width: 6.5rem;
  background-color: hsl(0, 0%, 98%);
  cursor: pointer;
  color: hsl(0, 0%, 41%);
  font-size: 15px;
}
.header__desktop__auth button:last-child {
  border-radius: 0.75rem;
  border: 1px solid hsl(0, 0%, 8%);
}

.burger-menu-container {
  position: absolute;
  background-color: hsla(0, 0%, 8%, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: flex-end;
}

.burger-menu {
  background-color: hsl(0, 0%, 98%);
  height: 100%;
  width: 240px;
  padding: 1.3rem 1.2rem 1.3rem 1.5rem;
  flex-direction: column;
  display: none;
  gap: 2.2rem;
}
.burger-menu__img {
  display: flex;
  justify-content: flex-end;
}
.burger-menu__img img {
  width: 26px;
  height: 26px;
}
.burger-menu__content {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 41%);
  gap: 1.2rem;
}
.burger-menu__content .icon-arrow {
  background-image: url("./images/icon-arrow-down.svg");
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
}
.burger-menu__content__features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.burger-menu__content__features__name {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.burger-menu__content__features__container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  margin-top: 0.9rem;
  padding-left: 1.5rem;
}
.burger-menu__content__features__container img {
  width: 18px;
}
.burger-menu__content__features__container div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.burger-menu__content__company {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}
.burger-menu__content__company__name {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.burger-menu__content__company__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.7rem;
  padding-left: 1.5rem;
}
.burger-menu__auth {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  margin-top: -0.6rem;
}
.burger-menu__auth button {
  padding: 0.7rem;
  border: none;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
  cursor: pointer;
  color: hsl(0, 0%, 41%);
  font-size: 15px;
}
.burger-menu__auth button:last-child {
  border-radius: 0.75rem;
  border: 1px solid hsl(0, 0%, 8%);
}

@media (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
  }
}
.main__hero {
  background-image: url("./images/image-hero-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  width: 100%;
  height: 300px;
}
@media (min-width: 768px) {
  .main__hero {
    background-image: url("./images/image-hero-desktop.png");
    max-width: 475px;
    height: 100vh;
    margin-top: 4rem;
  }
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 1.2rem;
}
@media (min-width: 768px) {
  .main__content {
    align-items: flex-start;
    max-width: 550px;
    margin-left: 2rem;
    margin-top: -10rem;
  }
}
.main__content h1 {
  font-size: 35.5px;
}
@media (min-width: 768px) {
  .main__content h1 {
    margin-top: 5rem;
    font-size: 78px;
    max-width: 520px;
  }
}
.main__content p {
  padding: 0 1.2rem;
  line-height: 1.6;
  text-align: center;
}
@media (min-width: 768px) {
  .main__content p {
    text-align: left;
    padding: 0;
    margin-top: 2rem;
    font-size: 18px;
    max-width: 480px;
  }
}
.main__content button {
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-weight: 700;
  font-size: 17px;
  padding: 0.9rem;
  margin-top: 0.4rem;
  border-radius: 1rem;
  width: 8.5rem;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main__content button {
    width: 10rem;
    margin-top: 1.8rem;
    padding: 1.1rem;
    font-size: 19px;
  }
}
.main__content button:hover {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}
.main__content__partner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  margin-top: 1.8rem;
  gap: 2rem;
}
@media (min-width: 768px) {
  .main__content__partner {
    margin-top: 5.5rem;
    justify-content: flex-start;
  }
}
.main__content__partner img:nth-child(1) {
  width: 80px;
}
@media (min-width: 768px) {
  .main__content__partner img:nth-child(1) {
    width: 110px;
  }
}
.main__content__partner img:nth-child(2) {
  width: 50px;
}
@media (min-width: 768px) {
  .main__content__partner img:nth-child(2) {
    width: 80px;
  }
}
.main__content__partner img:nth-child(3) {
  width: 60px;
}
@media (min-width: 768px) {
  .main__content__partner img:nth-child(3) {
    width: 90px;
  }
}
.main__content__partner img:nth-child(4) {
  width: 60px;
}
@media (min-width: 768px) {
  .main__content__partner img:nth-child(4) {
    width: 90px;
  }
}

/*# sourceMappingURL=style.css.map */
